.cell {
    background-color: whitesmoke;
    border: 1px gray solid;
    text-align: center;
    font-size: 28px;
    white-space:pre
}

.clicked-cell {
    background-color:  #33d7ff;
    border-color: HotPink;
    border-width: 2px;
}

.clicked-same-val {
    background-color:  lightblue ;
    border-color: blue;
    border-width: 2px;
}

.clicked-cell-neighbors {
    background-color:  Moccasin;
    border-color: MediumSlateBlue;
    border-width: 2px;
}

.illegal-cell {
    background-color: 	#ff3030;
}

.cell-fixed {
    color: black;
    pointer-events: none;
}

.cell-number {
    pointer-events: none;
}
.cell-table {
    display: none;
    font-size: 18px;
    color: #4FC3F7;
    pointer-events: none;
}
