@import url(https://fonts.googleapis.com/css?family=Pacifico);

@keyframes nav-bar-an {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-5%, 0, 0);
    color: #d5e4ff;
  }
  30% {
    transform: translate3d(4%, 0, 0);
    color: #bdd3fc;
  }
  45% {
    transform: translate3d(-3%, 0, 0);
    color: #a3c0f6;
  }
  60% {
    transform: translate3d(2%, 0, 0);
    color: #bdd3fc;
  }
  75% {
    transform: translate3d(-1%, 0, 0);
    color: #d5e4ff;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.navbar-brand {
  font-weight: bold;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 25px;
}

.navbar-brand:hover {
  animation: nav-bar-an 1s;
  text-shadow: black 5px 5px 0, 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(199, 179, 240, 0.3);
}

.collapse,
.navbar-collapse {
  margin-left: 16px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.start-screen {
  margin: 0 auto;
  padding-top: 4px;
  width: auto;
  text-align: center;
  align-items: center;
}

.nav-link {
  padding: 0%;
}

#cmdStart {
  background: #52ebff;
  background-image: -webkit-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -moz-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -ms-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -o-linear-gradient(top, #52ebff, #2b63b8);
  background-image: linear-gradient(to bottom, #52ebff, #2b63b8);
  -webkit-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  border: solid #00d9ff 2px;
  text-decoration: none;
  transition: all 1s ease;
  margin-top: 8px;
}

#cmdStart:hover {
  background: #3cfcdc;
  background-image: -webkit-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -moz-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -ms-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -o-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: linear-gradient(to bottom, #3cfcdc, #3484d9);
  text-decoration: none;
  color: #000;
  transform: scale(1.2);
  border-radius: 20px;
}

.start-screen h1,
h2 {
  color: var(--header-color);
}

.endmsg-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.endmsg {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.game-container {
  display: flex;
  align-content: flex-start;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
  max-width: 100vw;
  margin: 1em 0 1em 0;
}

.numbers {
  display: grid;
  order: 2;
  margin-inline-start: -215px;
}

.board {
  display: grid;
  order: 1;
}

#stopwatchContainer {
  background-color: var(--stopwatch-background-color);
  padding: 4px;
  order: 2;
  border-radius: 12px;
  border: 1px solid var(--stopwatch-borderline-color);
  z-index: 9999;
  margin-top: 0vh;
  align-self: flex-start;
}

#stopwatch {
  display: inline;
  font-size: 30px;
  color: var(--p-text-color);
  font-weight: bold;
  text-align: center;
  align-items: center;
}

#resumeBtn {
  background-color: #4caf50;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin: 0 3px 3px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 50px;
  height: 50px;
}

#resumeBtn:hover {
  background-color: #81c784;
}

#pauseBtn {
  background-color: #f44336;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin: 0 3px 3px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 50px;
  height: 50px;
}

#pauseBtn:hover {
  background-color: #e57373;
}

@media (orientation: landscape) {
  @media (min-width: 1801px) {
    .board {
      grid-template-columns: repeat(9, 4vw);
      grid-template-rows: repeat(9, 4vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 6vw);
      grid-auto-rows: 6vw;
    }
  }

  @media (min-width: 1200px) and (max-width: 1800px) {
    .board {
      grid-template-columns: repeat(9, 4.5vw);
      grid-template-rows: repeat(9, 4.5vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 5vw);
      grid-auto-rows: 6vw;
    }
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    .board {
      grid-template-columns: repeat(9, 5.5vw);
      grid-template-rows: repeat(9, 5.5vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 6vw);
      grid-auto-rows: 7vw;
    }
  }

  @media (max-width: 999px) {
    .board {
      grid-template-columns: repeat(9, 6.5vw);
      grid-template-rows: repeat(9, 6.5vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 7vw);
      grid-auto-rows: 8vw;
    }
  }
}

@media (orientation: portrait) {
  /* .game-container {
    margin-top: 5vh;
  } */

  @media (max-width: 575.98px) {
    .game-container {
      gap: 2px;
      margin-top: 2px;
    }
    .board {
      grid-template-columns: repeat(9, 10vw);
      grid-template-rows: repeat(9, 10vw);
      order: 1;
    }

    .numbers {
      grid-template-columns: repeat(3, 15vw);
      grid-auto-rows: 14vw;
      order: 2;
      margin: auto;
    }

    #stopwatch {
      font-size: 15px;
    }

    #stopwatchContainer {
      order: 0;
      margin-top: 0%;
    }

    #pauseBtn {
      font-size: 8px;
      width: 30px;
      height: 30px;
    }

    #resumeBtn {
      width: 30px;
      height: 30px;
      font-size: 8px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .board {
      grid-template-columns: repeat(9, 10vw);
      grid-template-rows: repeat(9, 10vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 15vw);
      grid-auto-rows: 14vw;
      order: 2;
      margin: auto;
    }

    #stopwatch {
      font-size: 20px;
    }

    #stopwatchContainer {
      order: 0;
      margin-top: 0%;
    }

    #pauseBtn {
      font-size: 12px;
    }

    #resumeBtn {
      font-size: 12px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .board {
      grid-template-columns: repeat(9, 7vw);
      grid-template-rows: repeat(9, 7vw);
    }

    .numbers {
      grid-template-columns: repeat(3, 8vw);
      grid-auto-rows: 9vw;
    }
  }
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  position: relative;
  align-items: center;
  font-size: 22px;
}

:root,
:root[data-force-color-mode="light"] {
  color-scheme: light dark;
  --primary: #b81577;
  --body-background-color: powderblue;
  --header-background-color: #f5f5f5;
  --stopwatch-background-color: #6288f46b;
  --stopwatch-borderline-color: #e000ffbf;
  --header-color: #1a5276;
  --p-text-color: #4a4a4a;
  --li-text-color: #884ea0;
  --toggle-background-color: rgb(255, 98, 0);
  --dark-mode-sign: "☀️";
}

:root[data-force-color-mode="dark"] {
  --primary: #78cdb6;
  --body-background-color: #121212;
  --header-background-color: #1f1f1f;
  --stopwatch-background-color: #25233aba;
  --stopwatch-borderline-color: #00eeffbf;
  --header-color: #2fde7c;
  --p-text-color: #eaeaea;
  --li-text-color: #f5f5f5;
  --toggle-background-color: rgb(23, 2, 2);
  --dark-mode-sign: "🌙";
}

body {
  margin: 0 auto;
  background-color: var(--body-background-color);
}

.active-box {
  animation: boxAnimation 1s infinite;
}

.active-column {
  animation: columnAnimation 1s infinite;
}

.active-row {
  animation: rowAnimation 1s infinite;
}

@keyframes boxAnimation {
  20% {
    background-color: #00ff0d;
  }
  40% {
    background-color: #2eff38b9;
  }
  60% {
    background-color: #5eff6679;
  }
  80% {
    background-color: rgba(237, 255, 156, 0.773);
  }
}

@keyframes columnAnimation {
  20% {
    background-color: #1ca1ff;
  }
  40% {
    background-color: #28a5ffa2;
  }
  60% {
    background-color: #5eb8f89c;
  }
  80% {
    background-color: #84ccffa4;
  }
}

@keyframes rowAnimation {
  20% {
    background-color: #ff9900;
  }
  40% {
    background-color: #ffa012cb;
  }
  60% {
    background-color: #ffa72296;
  }
  80% {
    background-color: #ffbc59;
  }
}

.speaker {
  position: relative;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  height: 30px;
  width: 30px;
  top: 10px;
}

.speaker span {
  display: block;
  width: 8px;
  height: 8px;
  background: #00d9ff;
  color: white;
  margin: 11px 0 0 2px;
}

.speaker span::after {
  content: "";
  position: absolute;

  border-style: solid;
  border-color: transparent #00d9ff transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}

.speaker span::before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-style: double;
  border-color: #00d9ff;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 8px;
  transition: all 0.2s ease-out;
}

.speaker:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}

.speaker.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(252, 239, 0, 0.623);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--toggle-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round::before {
  content: var(--dark-mode-sign);
}

.nav-item.spacing {
  line-height: 50px;
  padding: 0 10px;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f6c;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0;
  animation: confetti-fall 4s ease-in-out;
}

.paused-board {
  font-size: 0px !important;
  background-color: whitesmoke !important;
}

.hidden {
  display: none;
}
