@import url(https://fonts.googleapis.com/css?family=Pacifico);

@keyframes nav-bar-an {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-5%, 0, 0);
    color: #d5e4ff;
  }
  30% {
    transform: translate3d(4%, 0, 0);
    color: #bdd3fc;
  }
  45% {
    transform: translate3d(-3%, 0, 0);
    color: #a3c0f6;
  }
  60% {
    transform: translate3d(2%, 0, 0);
    color: #bdd3fc;
  }
  75% {
    transform: translate3d(-1%, 0, 0);
    color: #d5e4ff;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.navbar-brand {
  font-weight: bold;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 25px;
}

.navbar-brand:hover {
  animation: nav-bar-an 1s;
  text-shadow: black 5px 5px 0, 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(199, 179, 240, 0.3);
}

.collapse,
.navbar-collapse {
  margin-left: 16px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.start-screen {
  margin: 0 auto;
  padding-top: 4px;
  width: auto;
  text-align: center;
  align-items: center;
}

#cmdStart {
  background: #52ebff;
  background-image: -webkit-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -moz-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -ms-linear-gradient(top, #52ebff, #2b63b8);
  background-image: -o-linear-gradient(top, #52ebff, #2b63b8);
  background-image: linear-gradient(to bottom, #52ebff, #2b63b8);
  -webkit-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  border: solid #00d9ff 2px;
  text-decoration: none;
  transition: all 1s ease;
  margin-top: 8px;
}

#cmdStart:hover {
  background: #3cfcdc;
  background-image: -webkit-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -moz-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -ms-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: -o-linear-gradient(top, #3cfcdc, #3484d9);
  background-image: linear-gradient(to bottom, #3cfcdc, #3484d9);
  text-decoration: none;
  color: #000;
  transform: scale(1.2);
  border-radius: 20px;
}

.start-screen h1,
h2 {
  color: var(--header-color);
}

.endmsg {
  text-align: center;
  color: Orchid;
  font-size: 48px;
  font-family: "Syncopate", sans-serif;
  padding-bottom: 10px;
}

.game-container {
  display: flex;
  align-content: flex-start;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* background-color: red; */
  gap: 10px;
  /* height: 90vh; */
  /* width: 100vw; */
  max-width: 100vw;
  /* max-height: 80vh; */
  margin: 1em 0 1em 0;
}

.numbers {
  display: grid;
  order: 1;
}

.board {
  display: grid;
  order: 0;
}

@media (orientation: landscape) {
  .board {
    grid-template-columns: repeat(9, calc(4vw + 1vh));
    grid-template-rows: repeat(9, calc(4vw + 1vh));
  }

  .numbers {
    grid-template-columns: repeat(3, 7vw);
    grid-auto-rows: 7vw;
  }
}
@media (orientation: portrait) {
  .game-container {
    margin-top: 5vh;
  }
  .board {
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(9, 10vw);
  }

  .numbers {
    grid-template-columns: repeat(3, 20vw);
    grid-auto-rows: 20vw;
  }
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  position: relative;
  align-items: center;
  /* padding-left: 35px;
  margin-bottom: 12px; */
  /* cursor: ; */
  font-size: 22px;
}

:root,
:root[data-force-color-mode="light"] {
  color-scheme: light dark;
  --primary: #b81577;
  --body-background-color: powderblue;
  --header-background-color: #f5f5f5;
  --header-color: #1a5276;
  --p-text-color: #4a4a4a;
  --li-text-color: #884ea0;
  --toggle-background-color: rgb(255, 98, 0);
  --dark-mode-sign: "☀️";
}

:root[data-force-color-mode="dark"] {
  --primary: #78cdb6;
  --body-background-color: #121212;
  --header-background-color: #1f1f1f;
  --header-color: #2fde7c;
  --p-text-color: #eaeaea;
  --li-text-color: #f5f5f5;
  --toggle-background-color: rgb(23, 2, 2);
  --dark-mode-sign: "🌙";
}

body {
  margin: 0 auto;
  background-color: var(--body-background-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(252, 239, 0, 0.623);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--toggle-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round::before {
  content: var(--dark-mode-sign);
}

*,
::after,
::before {
  box-sizing: border-box;
}
